.game-wrapper {
    position: relative;
    margin-top: 30%;
    padding-left: 20%;
}

.character {
    position: relative;
    bottom: 0;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    transition: all cubic-bezier(0, 0, 0.46, 1.11) .5s;

}

.falling {
    transition: all cubic-bezier(1, -0.15, 0.95, 0.57) .5s;
}

.line-wrapper {
    position: relative;
}

.line {
    border: 2px solid black;
}

.small-block {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-bottom: none;
    background-color: white;

}

.small-block2 {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-bottom: none;
    background-color: white;

}

.small-block3 {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-bottom: none;
    background-color: white;

}

.small-block4 {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-bottom: none;
    background-color: white;

}

.small-block5 {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-bottom: none;
    background-color: white;

}

.start-alert {
    width: fit-content;
    position: absolute;
    padding: 0 20px;
    left: 40%;
    background-color: green;
    font-size: 5rem;
    z-index: 100;
    
}